<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>数据提交</h1>
    <form  action="index" type="post">

        代号:<input type="text" value="" name="dh"><br>
        账户:<input type="text" value="" name="zh"><br>
        密码:<input type="text" value="" name="pw"><br>
        导出数目<input type="text" value="" name="num"><br>
        开始时间<input type="date" value="" name="s_time"><br>
        结束时间<input type="date" value="" name="e_time"><br>
        结束时间<input type="submit" value="提交"><br>
    </form>
</body>
</html>